* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url('abstract-background-with-blue-orange-white-geometric-shapes_83925-21463.jpg') no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  height: 37.5em;
  width: 37.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.5em;
}

.simon {
  height: 31.25em;
  width: 31.25em;
  background-color: #101010;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.color-part {
  height: 13.12em;
  width: 13.12em;
  position: absolute;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.color1 {
  background-color: #068e06;
  border-radius: 13em 0 0 0;
  top: 1.87em;
  left: 1.87em;
}

.color2 {
  background-color: #950303;
  border-radius: 0 13em 0 0;
  top: 1.87em;
  right: 1.87em;
}

.color3 {
  background-color: #01018a;
  bottom: 1.87em;
  right: 1.87em;
  border-radius: 0 0 13em 0;
}

.color4 {
  background-color: #919102;
  bottom: 1.87em;
  left: 1.87em;
  border-radius: 0 0 0 13em;
}

.simon:before {
  position: absolute;
  content: "";
  background-color: #101010;
  height: 13.75em;
  width: 13.75em;
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

#count {
  background-color: #ffffff;
  font-size: 2.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
  height: 2em;
  width: 3em;
  display: grid;
  place-items: center;
  border-radius: 0.3em;
}

.hide {
  display: none;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container button {
  background-color: #ffffff;
  font-size: 1.2em;
  border: none;
  outline: none;
  padding: 1em 2em;
  border-radius: 0.3em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #e0e0e0;
}

.container p {
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 1em;
}

.container span {
  font-weight: 600;
}

/* Add flash scaling animation */
.flash {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
  .wrapper {
    height: 35em;
    width: 35em;
  }
}
